body {
background-color: #f125ad6b;
color: white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #ec11bcbb;
color: white;
font-family: "Bai Jamjuree", sans-serif;
}